<?xml version="1.0" encoding="UTF-8"?>

	<suite name="AutomationExerciseSuite" verbose="1">

    <!-- You can run multiple test groups inside one suite -->
    <test name="CheckoutFlowTests">
        <classes>
            <!-- Base class for browser setup/teardown -->
           
        <class name="com.automationexercise.base.CheckoutTests"/>
      
            <!-- Your actual test class -->
           
        </classes>
    </test>

</suite>

